.updates--archive,
.blog--archive {
	@include clearfix();
	overflow: auto;

	.cgc_updates,
	.post {
		float: left;
		position: relative;
		min-height: 1px;
		padding: 0 10px;
		width: 33.33333%;
		margin-bottom:$padding;

		@media(max-width:600px) {
			width:100%;
			float:none;
		}
	}

	.has-post-thumbnail {
		.entry {
			margin-top:62%;
			font-size:$font-size-small + 0.2;
		}
	}

	.post--inner {
		padding:$padding;
		background: $base;
		width:100%;
		position:relative;
		@include shadow();
	}
	.post--thumb {
		height:0;
		padding-bottom:62%;
		background-size:cover;
		background-position:center center;
		width:100%;
		position:absolute;
		left:0;
		top:0;
	}

	.entry {
		font-size:$font-size-small + 0.2;
	}

	.entry--title {
		font-size: $font-size-h3;
		margin: 0 auto $padding--sm;

		a {
			color: $white;
		}
	}

	.entry-header {
		margin-top:0;
	}

	.entry--content {
		line-height:1.1;
		padding-left:0;
		padding-right:0;
	}

	.entry-meta {
		font-size: $font-size-small;

		p {
			margin:0;
		}
	}

}

// author archive
.archive.author {

	.posts-by {
		text-align:center;
		display:block;
		font-weight:700;
	}
}
